.BusanBoard {
  width: 100%;
  height: 100%;
  // position: absolute;
  overflow: hidden;

  &-TitleZone {
    display: flex;
    justify-content: center;
    align-items: center;
    & .BusanBoard-Title {
      color: #34495e;
      font-weight: bold;
    }
  }

  &-NoticeZone {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .BusanBoard-Title {
    font-size: 1.5rem;
  }

  .BusanBoard-NoticeContents {
    font-size: 1.25rem;
  }
}
