.bar2 {
  position: absolute;
  top: 70%;
  left: 20%;
  font-size: 160%;
}

.addbar2 {
  position: absolute;
  top: 76%;
  left: 30%;
  font-size: 120%;
}

.date {
  position: absolute;
  top: 85%;
  left: 22%;
  width: 8%;
}

.people {
  width: 8%;
  position: absolute;
  top: 85%;
  left: 32%;
}

.sub2 {
  position: absolute;
  top: 95%;
  left: 30%;
}
