.bar1 {
  position: absolute;
  top: 1%;
  left: 14%;
  font-size: 160%;
}

.addbar {
  position: absolute;
  top: 7%;
  left: 23%;
  font-size: 120%;
}

.day {
  position: absolute;
  top: 20%;
  left: 16%;
  width: 8%;
}

.setDay {
  width: 8%;
  position: absolute;
  top: 20%;
  left: 26%;
}

.sub {
  position: absolute;
  top: 30%;
  left: 23%;
}
