.gender {
  position: absolute;
  top: 187%;
  left: 2%;
}

.male {
  position: absolute;
  top: 194%;
  left: 2%;
}

.female {
  position: absolute;
  top: 200%;
  left: 2%;
}

.fix2 {
  position: absolute;
  top: 207%;
  left: 5%;
}
