.SeoulBoard {
  overflow-x: hidden;

  &-Top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 5px;
  }

  &-TitleZone {
    display: flex;
    justify-content: center;
    align-items: center;
    & .SeoulBoard-Title {
      color: #34495e;
      font-weight: bold;
    }
  }

  &-NoticeZone {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .SeoulBoard-Title {
    font-size: 1.5rem;
  }

  .SeoulBoard-NoticeContents {
    font-size: 1.25rem;
  }
}
