@media screen and (max-width: 1023px) {
  /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
  // position: relative;
  * {
    font-family: "Nanum Gothic";
  }
  .allType12 {
    .lastgetUpdate {
      font-size: 0.6rem;
      // text-align: center;
      // margin-bottom: 40px;
      text-align: right;
    }
    .twoBoxalign {
      // width: 100%;
    }
    .firstBox {
      width: 48%;
      height: 20%;
      max-height: 150px;
      background-color: #e53a40;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .secondBox {
      margin-left: 4%;
      width: 48%;
      height: 20%;
      max-height: 150px;
      background-color: #f6b352;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .thirdBox {
      width: 48%;
      height: 20%;
      max-height: 150px;
      background-color: #4f86c6;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .fourthBox {
      margin-left: 4%;

      width: 48%;
      height: 20%;
      max-height: 150px;
      background-color: #3c3530;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .firstBoxLong {
      width: 100%;
      height: 20%;
      max-height: 150px;
      background-color: #e53a40;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      .mainText {
        font-size: 1.2rem !important;
      }
      .people {
        margin-top: 85px;
      }
      #noned {
        cursor: pointer;
      }
    }
    .mainplusBox {
      width: 100%;
      margin: 0 auto;
      .mainText {
        width: 50%;
        // position: relative;
        font-size: 1rem;
        font-weight: 500;
        float: left;
      }
      .plus {
        width: 10%;
        float: right;
        text-align: right;
      }
    }
    .peoplePoint {
      margin-top: 60px;
      text-align: right;
      font-size: 1.2rem;
    }
    .pressCircle {
      cursor: pointer;
    }
    .circleInPlus {
      font-size: 2.5rem;
    }
  }
}
//
//
//
//

@media screen and(min-width:1024px) {
  .allType12 {
    .lastgetUpdate {
      font-size: 0.6rem;
      // text-align: center;
      // margin-bottom: 40px;
      text-align: right;
    }
    .twoBoxalign {
      // width: 100%;
    }
    .firstBox {
      width: 49%;
      height: 20%;
      max-height: 150px;
      max-width: 800px;
      background-color: #e53a40;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .secondBox {
      margin-left: 2%;
      width: 49%;
      height: 20%;
      max-height: 150px;
      max-width: 800px;
      background-color: #f6b352;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .thirdBox {
      width: 49%;
      height: 20%;
      max-height: 150px;
      max-width: 800px;
      background-color: #4f86c6;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .fourthBox {
      margin-left: 2%;
      width: 49%;
      height: 20%;
      max-height: 150px;
      max-width: 800px;
      background-color: #3c3530;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .firstBoxLong {
      width: 100%;
      height: 20%;
      max-height: 150px;
      background-color: #e53a40;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      .mainText {
        font-size: 1.2rem !important;
      }
      .people {
        margin-top: 85px;
      }
      #noned {
        cursor: pointer;
      }
    }
    .mainplusBox {
      width: 100%;
      margin: 0 auto;
      .mainText {
        width: 50%;
        // position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        float: left;
      }
      .plus {
        width: 10%;
        float: right;
        text-align: right;
      }
    }
    .peoplePoint {
      margin-top: 60px;
      text-align: right;
      font-size: 1.2rem;
    }
    .pressCircle {
      cursor: pointer;
    }
    .circleInPlus {
      font-size: 2.5rem;
    }
  }
  .canvas_1 {
    width: 60%;
  }
}
