.agebar {
  position: absolute;
  top: 130%;
  left: 2%;
  font-size: 170%;
}

.a1,
.a2,
.a3,
.a4,
.a5 {
  width: 8%;
  left: 2%;
  position: absolute;
}

.a1 {
  top: 136%;
}

.a2 {
  top: 143%;
}

.a3 {
  top: 150%;
}

.a4 {
  top: 157%;
}

.a5 {
  top: 164%;
}
.save3 {
  position: absolute;
  top: 172%;
  left: 3%;
}

.underbox {
  width: 10%;
  height: 19%;
  position: absolute;
  top: 300%;
}
