$green: #05C2AB;
$red: #FF5152;
$purple: #7A69DB;
$yellow: #E8E113;
$orange: #EB962A;
$blue: #6179D8;
$white: #f5f5f5;

.symptom{
    &-title{
        font-size: 1.5rem;
        color: $red;
        text-align: center;
        font-weight: bold;
        margin-top: 2%;
    }

    &-MainImage{
        display: block;
        width: 65%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: 4%;
    }

    &-list{
        margin-left: 20%;
    }

    &-item{
        width: 73%;
        max-width: 600px;
        max-height: 150px;
        background-color: $blue;
        margin-bottom: 2%;
        padding: 1%;
        list-style: none;
        color: $white;
        text-align: center;
    }

    &-icon{
        color: $blue;
        font-size: 3.5rem;
        margin-left: 28%;
    }

    &-imageZone{
        
    }

    &-image{
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}