.kor-title {
  margin-left: 2%;
  margin-top: 1%;
}
.kor-1 {
  margin-left: 5%;
  width: 8%;
}

.k1 {
  color: red;
}

.k2 {
  color: orange;
}
.k3 {
  color: blue;
}

.save {
  position: absolute;
  top: 80%;
  right: 10%;
}
