.DaeguBoard {
  overflow-x: hidden;

  &-TitleZone {
    display: flex;
    justify-content: center;
    align-items: center;
    & .DaeguBoard-Title {
      color: #34495e;
      font-weight: bold;
    }
  }

  &-NoticeZone {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.BoardPage-List {
  text-align: center;

  &-Location {
    float: left;
    font-size: 20px;
  }

  &-Time {
    float: left;
  }

  &-Item {
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
  }

  &-View {
    margin-right: 30px;
  }
}

.BoardPage-Line {
  margin-top: 30px;
}

.BoardPage-Info {
  float: right;
}

.Board-Button {
  display: flex;
  justify-content: flex-end;
  &-Button {
    border: 2px solid gray;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      background-color: gray;
      color: white;
    }
  }
}

@media screen and (min-width: 1024px) {
  .DaeguBoard-Title {
    font-size: 1.5rem;
  }

  .DaeguBoard-NoticeContents {
    font-size: 1.25rem;
  }
}
