.DaejeonBoard {
    width: 100%;
    height: 100%;
    // position: absolute;
    overflow: hidden;
  
    &-TitleZone {
      display: flex;
      justify-content: center;
      align-items: center;
      & .DaejeonBoard-Title {
        color: #34495e;
        font-weight: bold;
      }
    }
  
    &-NoticeZone {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .DaejeonBoard-Title {
      font-size: 1.5rem;
    }
  
    .DaejeonBoard-NoticeContents {
      font-size: 1.25rem;
    }
  }
  