.market{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    &-title{
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    &-titleText{
        color: #34495e;
        font-weight: bold;
    }

    &-input{
        border: none;
        background-color: #ecf0f1;
        border-radius: 3px;
        width: 65%;
        padding: 1.5%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}