.market{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    &-notice{
        margin-bottom: 4%;
        max-height: 150px;
        max-width: 800px;
    }
}

//-------------------------------------ㅡㄷ얌 볃교
@media screen and (min-width: 1023px){

    .market{
        width: 100%;
        height: 100%;
        overflow-x: hidden;

        &-notice{
            max-height: 150px;
            margin-bottom: 4%;
            max-width: 800px;
        }
    }
}