.market{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    &-title{
        margin-left: 35%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    &-titleText{
        color: #34495e;
        font-weight: bold;
    }

    &-Notice{
        margin-left: 2%;
        margin-bottom: 4%;
        background-color: #b2bec3;
        padding: 3%;

        &-text{
            background-color: #ecf0f1;
            font-weight: bold;
            padding: 0.2rem;
        }

        &-content{
            color: #34495e;
            font-weight: bold;
            font-size: 0.925rem;
            margin-left: 2%;
        }
    }
}