
    .NationWideBoard {
        overflow-x: hidden;

        &-TitleZone {
            display: flex;
            justify-content: center;
            align-items: center;
            & .NationWideBoard-Title {
                color: #34495e;
                font-weight: bold;
            }
        }

        &-NoticeZone {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (min-width: 1024px) {
        .NationWideBoard-Title {
            font-size: 1.25rem;
        }
    
        .NationWideBoard-NoticeContents {
            font-size: 1.25rem;
        }
    }

    @media screen and (max-width: 500px) {
        .BoardPage-List-Item {
            font-size: 15px;
        }

        .BoardPage-List-Time {
            position: absolute;
            left: 20px;
        }

        .BoardPage-List-Location {
            font-size: 15px;
        }
    }