
    .NationWideBoard {
        width: 100%;
        height: 100%;
        overflow-x: hidden;

        &-TitleZone {
            display: flex;
            justify-content: center;
            align-items: center;
            & .NationWideBoard-Title {
                color: #34495e;
                font-weight: bold;
            }
        }

        &-NoticeZone {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #b2bec3;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &-Notice {
            background-color: #ecf0f1;
            font-weight: 600;
            margin-right: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }

        &-NoticeContents {
            font-weight: 600;
            font-size: 0.9rem;
        }
    }

    .writeBoard {
        position: absolute;
        right: 5%;
        bottom: 5%;
        background-color: #353b48;
        color: white;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 2rem;
        border-radius: 50%;
        cursor: pointer;
    }

    @media screen and (min-width: 1024px) {
        .NationWideBoard-Title {
            font-size: 1.5rem;
        }
    
        .NationWideBoard-NoticeContents {
            font-size: 1.25rem;
        }
    }