// #table2 {
//   margin-top: 100%;
// }

// #table1 {
//   margin-top: 100%;
// }

@media screen and (max-width: 1023px) {
  /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
  // position: relative;
  * {
    font-family: "Nanum Gothic" !important;
  }
  .allType12 {
    .lastgetUpdate {
      font-size: 0.6rem;
      text-align: right;
    }

    .firstBox {
      width: 48%;
      height: 20%;
      max-height: 150px;
      background-color: #e53a40;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .secondBox {
      margin-left: 4%;
      width: 48%;
      height: 20%;
      max-height: 150px;
      background-color: #f6b352;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .thirdBox {
      width: 48%;
      height: 20%;
      max-height: 150px;
      background-color: #4f86c6;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .fourthBox {
      margin-left: 4%;

      width: 48%;
      height: 20%;
      max-height: 150px;
      background-color: #3c3530;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .firstBoxLong {
      width: 100%;
      height: 20%;
      max-height: 150px;
      background-color: #e53a40;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      .mainText {
        font-size: 1.2rem !important;
      }
      .people {
        margin-top: 85px;
      }
      #noned {
        cursor: pointer;
      }
    }
    .mainplusBox {
      width: 100%;
      margin: 0 auto;
      .mainText {
        width: 50%;
        font-size: 1rem;
        font-weight: 500;
        float: left;
      }
      .plus {
        width: 10%;
        float: right;
        text-align: right;
      }
    }
    .peoplePoint {
      margin-top: 60px;
      text-align: right;
      font-size: 1.2rem;
    }
    .pressCircle {
      cursor: pointer;
    }
    .circleInPlus {
      font-size: 2.5rem;
    }
  }
}

@media screen and(min-width:1024px) {
  .allType12 {
    .lastgetUpdate {
      font-size: 0.6rem;

      text-align: right;
    }

    .firstBox {
      width: 49%;
      height: 20%;
      max-height: 150px;
      max-width: 800px;
      background-color: #e53a40;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .secondBox {
      margin-left: 2%;
      width: 49%;
      height: 20%;
      max-height: 150px;
      max-width: 800px;
      background-color: #f6b352;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .thirdBox {
      width: 49%;
      height: 20%;
      max-height: 150px;
      max-width: 800px;
      // background-color: #4f86c6;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .fourthBox {
      margin-left: 2%;
      width: 49%;
      height: 20%;
      max-height: 150px;
      max-width: 800px;
      background-color: #3c3530;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      display: inline-block;
    }
    .firstBoxLong {
      width: 100%;
      height: 20%;
      max-height: 150px;
      background-color: #e53a40;
      padding: 10px 20px 10px 20px;
      color: white;
      border-radius: 15px;
      .mainText {
        font-size: 1.2rem !important;
      }
      .people {
        margin-top: 85px;
      }
      #noned {
        cursor: pointer;
      }
    }
    .mainplusBox {
      width: 100%;
      margin: 0 auto;
      .mainText {
        width: 50%;
        // position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        float: left;
      }
      .plus {
        width: 10%;
        float: right;
        text-align: right;
      }
    }
    .peoplePoint {
      margin-top: 60px;
      text-align: right;
      font-size: 1.2rem;
    }
    .pressCircle {
      cursor: pointer;
    }
    .circleInPlus {
      font-size: 2.5rem;
    }
  }
  .canvas_1 {
    width: 60%;
  }
}

//휴대폰 화면

// @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.allType2 {
  body {
    // font-family: "Poppins", sans-serif;
    background: #fafafa;
  }

  p {
    // font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
  }

  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }

  .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 10px 0;
  }

  /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
  }

  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #13203d;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
    transform-origin: bottom left;
  }

  #sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
  }

  #sidebar .sidebar-header {
    padding: 20px;
    background: #13203d;
  }

  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #13203d;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  #sidebar ul li a:hover {
    color: #13203d;
    background: #fff;
  }

  #sidebar ul li.active > a,
  a[aria-expanded="true"] {
    color: #fff;
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
  }

  ul.CTAs {
    padding: 20px;
  }

  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  a.download {
    background: #fff;
    // color: #7386d5;
  }

  a.article,
  a.article:hover {
    // background: #6d7fcc !important;
    color: #fff !important;
  }

  /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
  #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
  }

  #sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
  }

  #sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition-delay: 0.2s;
  }

  #sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }

  #sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
    }
    #sidebar.active {
      margin-left: 0;
      transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
    }
    #sidebarCollapse.active span {
      margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
    }
  }
}
