@media screen and (max-width: 1023px) {
  /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
  // position: relative;

  .lastUpdate {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 40px;
  }
  .firstBox1 {
    width: 100%;
    height: 20%;
    max-height: 150px;
    background-color: #eb962a;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 15px;
  }

  .thirdBox3 {
    width: 100%;
    height: 20%;
    max-height: 150px;
    background-color: #05c2ab;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 15px;
  }
  .fourthBox4 {
    width: 100%;
    height: 20%;
    max-height: 150px;
    background-color: #7a69db;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 15px;
  }
  .mainplusBox {
    width: 100%;
    margin: 0 auto;

    .mainText {
      width: 50%;
      // position: relative;
      font-size: 1.6rem;
      font-weight: 500;
      float: left;
    }
    .plus {
      width: 50%;
      float: right;
      text-align: right;
    }
  }
  .people {
    margin-top: 30px;
    text-align: right;
    // justify-content: center;
    font-size: 1.5rem;
  }
  .pressCircle {
    cursor: pointer;
  }
  .circleInPlus {
    font-size: 2.5rem;
  }
}
