.worldwide {
  font-weight: bolder;
  margin-left: 1%;
  margin-top: 10%;
}
.kor-1 {
  position: relative;
  left: 1%;
  width: 8%;
}

.w1 {
  margin-left: 1%;
  color: red;
}

.w2 {
  margin-left: 1%;
  color: blue;
}
.w3 {
  margin-left: 1%;
}

.fix {
  position: absolute;
  top: 115%;
  left: 2%;
}
