     .BoardPage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;

        &-Top {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            & span {
                font-weight: bold;
                font-size: 1.25rem;
            }
        }

        &-Arrow {
            position: absolute;
            left: 0;
            font-size: 2rem;
            color: #0090D5;
            cursor: pointer;
        }

        &-Page {
            margin-top: -15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &-Title {
                border: none;
                width: 100%;
                font-size: 1.25rem;
                margin-bottom: 10px;
                margin-top: 10px;
                text-align: center;
                white-space: pre-line;
            }

            &-Location {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                background-color: #b2bec3;
                padding-bottom: 10px;
                padding-top: 10px;
                font-weight: bold;
            }

            &-Contents {
                width: 100%;
                font-size: 1.2rem;
                white-space: pre-line;
                margin-left: 5%;
                margin-top: 5%;
                margin-bottom: 3%;
            }
        }
    }
